# Terraform
.terraform/
**/.terraform/*

*.tfstate
*.tfstate.*

# Sensitive data
sa-key.json
*.json

# tfvars (если появятся)
*.tfvars
*.tfvars.json

# crash logs
crash.log

# override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform/
**/.terraform/*